*{
    font-family: corbel;
}
body{
    height: 100vh;
    max-width: 100%;
    margin: 0;
}
.Kontainer{
    position: absolute;
    width: 100%;
    min-height: calc(100% - 80px);
    margin: 55px 0 25px 0;
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.KontainerBg{
    position: fixed;
    top: 0;
    opacity: 0.9;
    height: 100vh;
    width: 100%;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.Header{
    width: 100%;
    position: fixed;
    top: 0;
    height: 55px;
    background: #3f3f3f;
    color: white;
    text-align: center;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
}
.HeaderLink{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 0.1s;
}
.HeaderLink a{
    padding: 20px;
    text-decoration: none;
    color: white;
    transition: all ease-in-out 0.1s;
}
    .HeaderLink:hover{
        background: white;
        cursor: pointer;
    }
    .HeaderLink a:hover{
        color: black;
    }
.Footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 5px 0;
    background: #3f3f3f;
    color: white;
    text-align: center;
    z-index: 1;
}
    .Footer div{
        margin: 0 20px 0 5px;
    }
    .Footer div a{
        color: white;
    }
    .Footer img{
        height: 20px;
        width: 20px;
    }



.Title{
    display: flex;
    align-items: center;
    margin: 20px 20px 30px;
}
    .Logo, .Title img{
    }
        .Title img{
            height: 70px;
            border-width: 1px;
            border-color: Black;
            margin: 0 10px;
        }
        .Logo{
            font-family: corbelb;
            font-size: 54px;
            color: #c05151;
            /* color: #e24242; */
            -webkit-text-stroke-width: 1.5px;
            -webkit-text-stroke-color: #3f3f3f;
        }
.Home{
    height: 55px;
    position: absolute;
    top:0;
    z-index: 1;
}
    .Home:hover, .Home a:hover, .Home a label:hover{
        cursor: pointer;
    }
    .Home a{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
        .Home a img{
            height: 40px;
        }
        .Home a label{
            margin: 0 10px;
            font-size: 30px;
            -webkit-text-stroke-width: 0.5px;
            -webkit-text-stroke-color: white;
        }